@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #F0F0F0;
    overflow-x: hidden; /* Disable horizontal overflow */
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    height: 100vh; /* Utilize full viewport height */
}

.top {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px; /* Add spacing between elements */
}

h1 {
    font-size: 2.5em;
}

img {
    max-width: 100%; /* Ensure image fits within container */
    height: auto; /* Maintain aspect ratio */
}

a {
    text-decoration: none; /* Remove underline from link */
}

h2 {
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .main {
        max-width: 600px; /* Limit width for larger screens */
    }
}
